body 
{
    font-family: 'Bitter', serif;
    font-size: 12px;
    text-align: center;
}

.draggable { 
    display: block;
    width: 80px; 
    height: 80px; 
    float: left; 
    margin: 0; 
    font-size: .9em; 
    cursor: pointer;
    z-index: 9;
    left: 22.3em;
}

.draggable img
{
    width: 80px;
    height: 80px;
    border: 1px solid #444;
}

#title
{
    margin: 1em;
    font-size: 1em;
    text-align:right;
}

#game {
    position: relative;
    width: 800px;  
    height: 810px;
    margin:0 auto;
    margin-top:1.2em;
}


#gameboard {}

.gb_item
{
    width: 100%;  
    height: 640px;
    left: 0px;
}

#map
{
    position: absolute;
    background-size: contain; 
}

#grid 
{
    position: absolute;
    background: url('../img/80x80.png') repeat;
    z-index: 9;
}

#shelf 
{
    position:absolute;
    top: 719px;
    height: 80px;
    width:100%;
    left:0;
    background: #ccc;
    border:1px solid #aaa;
}

#characters 
{ 
    margin-left:-242px;
}
 
#monsters {}
